.header {
    box-sizing: border-box;
    padding: 24px;
    background: white;
    height: auto;
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.logo-container {
    display: flex;
    flex-direction: column;
}     

.navigation {  
    display: flex;
    gap: 10px;
}

.logo-title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding: 0;
}

.logo-description {
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}