.body_container {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  gap: 22px;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
}

.main_container{
  padding: 32px;
}


h2 {
  margin: 0;
  padding: 0;
}

.price {
  margin: 0;
  padding: 0;
}



/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
