.navAccessOptionsWrapper {
  border-radius: 200px;
  padding: 4px;
  width: 100%;
  background-color: #00838f1f;
  margin-bottom: 32px;
}

.navAccessOptions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 6px;
  font-size: 14px;
}

.navAccessOptions li {
  flex: 1;
}

.navAccessOption {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  width: 100%;
  border-radius: 200px;
  background-color: #00838f1f;
  text-decoration: none;
  color: inherit;
  font-weight: 400;
  height: 40px;
}

.navAccessOption:hover,
.navAccessOption:focus,
.navAccessOption:visited {
  text-decoration: none;
  color: white;
}

.navAccessOption--active {
  background-color: #00838F;
  color: #FFFFFF;
  text-decoration: none;
}

