.auth_container {
  width: 50%;
  max-width: none;
  padding: 0;
  align-content: center;
  flex: 0 0 50%;
}

.auth_content {
  max-width: 520px;
  margin: 0 auto;
  padding: 32px;
}

.auth_form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

