.signup_login_main_container {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

.signup_login_container {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.form_field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form_field label {
  font-size: 14px;
}

.signup_login_btn {
  margin-top: 8px;
  cursor: pointer;
}

.signup_login-link {
  text-align: center;
  font-size: 14px;
  margin: 0;
}

.signup_login-link a {
  font-weight: 600;
  text-decoration: none;
}

