.signup_login_main_container {
    padding: 0 !important;
    /* Espacio para el header fijo (~altura del header) */
    padding-top: 72px !important;
}

.signup_login_container {
    display: flex;
    margin-top: 0;
    justify-content: space-between;
    min-height: calc(100vh - 72px);
}
  
  .form_field {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .form_field label {
    font-size: 14px;
  }
  
  .signup_login_btn {
    margin-top: 8px;
    cursor: pointer;
  }
  
  .signup_login-link {
    text-align: center;
    font-size: 14px;
    margin: 0;
  }
  
  .signup_login-link a {
    font-weight: 600;
    text-decoration: none;
  }