/* BLUE GRAY */

.blue_gray_900 {
    color: #263238;
}

.blue_gray_800 {
    color: #37474F;
}

/* TEAL  */

.teal_800 {
    color: #00695C
}


/* CYAN */

.background_cyan_500{
    background-color: #00BCD4;
}

.background_cyan_600{
    background-color: #00ACC1;
}

.background_cyan_700{
    background-color: #0097A7;
}

.background_cyan_800 {
    background-color: #00838F;
}

.background_cyan_900{
    background-color: #006064;
}

/* WHITE */

.white {
    background-color: white;
}

.font-white  {
    color: white;
}