/* BLUE GRAY */

.blue_gray_900 {
    color: #263238;
}

.blue_gray_800 {
    color: #37474F;
}

/* TEAL  */

.teal_800 {
    color: #00695C
}


/* GREEN */

/* Green text colors */

.green_500 {
    color: #4CAF50;
}

.green_600 {
    color: #43A047;
}

.green_700 {
    color: #388E3C;
}

/* Green background colors */

.background_green_500 {
    background-color: #4CAF50;
}

/* CYAN */

.background_cyan_500{
    background-color: #00BCD4;
}

.background_cyan_600{
    background-color: #00ACC1;
}

.background_cyan_700{
    background-color: #0097A7;
}

.background_cyan_800 {
    background-color: #00838F;
}

.background_cyan_900{
    background-color: #006064;
}

/* WHITE */

.white {
    background-color: white;
}

.font-white  {
    color: white;
}

/* RED */

/* Red text colors */

.red_500 {
    color: #f44336;
}

.red_600 {
    color: #e53935;
}

.red_700 {
    color: #d32f2f;
}

/* Red background colors */

.background_red_500 {
    background-color: #f44336;
}